@import "tailwindcss";

:root {
  /* 🌞 Modo claro */
  --background: #F4F2EE;       /* Fondo general */
  --foreground: #FBFBFB;       /* Fondo de tarjetas/componentes */
  --textColor: #191919;        /* Color de texto */
  --buttonColor: #0A66C2;      /* Botones primarios */
  
  /* Fuentes */
  --font-geist-sans: 'Geist Sans', sans-serif;
  --font-geist-mono: 'Geist Mono', monospace;
}

@theme inline {
  /* Colores expuestos para Tailwind */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-textColor: var(--textColor);
  --color-buttonColor: var(--buttonColor);

  /* Fuentes */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    /* 🌙 Modo oscuro */
    --background: #1a1a1a;
    --foreground: #2c2c2c;
    --textColor: #f5f5f5;
    --buttonColor: #3b82f6;
  }
}

body {
  background: var(--background);
  color: var(--textColor);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

::selection {
  background-color: var(--background); /* amarillo */
  color: var(--buttonColor); /* gris oscuro */
}